@import 'tailwindcss';
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-nunito: 'var(--font-nunito)', sans-serif;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.animate-slideUp {
  animation: slideUp 0.25s ease-out forwards;
}

.animate-slideDown {
  animation: slideDown 0.25s ease-in forwards;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-nunito: 'var(--font-nunito)', sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);
}
a {
  font-family: var(--font-nunito);
  font-family: var(--font-nunito);
}
